<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :next_start %><br>
    <%= f.text_field :next_start %>
  </div>
  <div class="field">
    <%= f.label :next_start_formatted %><br>
    <%= f.text_field :next_start_formatted %>
  </div>
  <div class="field">
    <%= f.label :name_slug %><br>
    <%= f.text_field :name_slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
