<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @course.url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @course.author %>
</p>

<p>
  <strong>Next start:</strong>
  <%= @course.next_start %>
</p>

<p>
  <strong>Next start formatted:</strong>
  <%= @course.next_start_formatted %>
</p>

<p>
  <strong>Name slug:</strong>
  <%= @course.name_slug %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
